* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui.fixed.menu {
    padding: 10px;
}

.ui.container.center {
    justify-content: center;
}

.ui.main {
    margin-top: 45px;
}

.ui.main>h2 {
    padding-top: 20px;
}

.content {
    padding: 10px 0;
    display: inline-block;
}

.content>div {
    padding: 5px;
}

i.trash.alternate.outline.icon {
    font-size: 25px;
    display: inline;
    line-height: 80px;
    float: right;
}