* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui_header>.ui {
    width: 100%;
    color: black;
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

.add_contact {
    padding: 10px;
}

.ui_form {
    margin: 6px 0;
    padding: 10px 0;
}

.field input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.field label {
    font-weight: 600;
}